.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
}

.loader__animation{
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #56b36c;
    width: 100px;
    height: 100px;
    animation: spin 0.8s linear infinite;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (min-width: 768px) {
    .loader{
        width: 80%;
        height: 100vh;
    }
}

@media (min-width: 1024px) {
    .loader{
        width: 85%;
    }
}